@model IEnumerable<DataLayer.Entities.Supplementary.FSText>
@using Core.Services.Interfaces;
@inject IUserService _userService
@{
    ViewData["Title"] = "متنهای اسلایدر تکه ای";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">متن های اسلایدر تکه ای</h1>
<ol>
    <li class="text-danger">منظور از رتبه ورود همان data-step موجود در ویوی اسلاید می باشد و می تواند تکراری باشد.</li>
    <li class="text-danger">منظور از رتبه نمایش، اولویت نمایش عکس ها و متن های اسلایدر می باشد و حتما باید تکراری نباشد.</li>
</ol>
<p>
    <a asp-action="Create" class="btn btn-primary">متن جدید</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.FractionSlider)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.DataStep)
            </th>

            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.ShowRating)
            </th>

            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.FractionSlider.Title)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.DataStep)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.ShowRating)
                </td>
                <td class="text-xs-center align-middle">
                    @if (item.IsActive)
                    {
                        <span class="fa fa-check-square cursor-pointer chk" data-id="@item.Id" data-status="0"></span>
                    }
                    else
                    {
                        <span class="fa fa-square-o cursor-pointer chk" data-id="@item.Id" data-status="1"></span>
                    }
                </td>

                <td class="text-xs-center align-middle">
                    @if (_userService.CheckPermissionByName("fractionslider", User.Identity.Name))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> <span>|</span>
                        <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">حــذف</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".chk").click(function () {
                if (confirm("آیا مطمئن به تغییر وضعیت متن هستید؟")) {
                    var idd = $(this).attr("data-id");
                    var st = $(this).attr("data-status");
                    var th = $(this);
                    $.ajax({
                        url: "/Manage/FSTexts/ChangeStatus",
                        data: { id: idd, status: st },
                        type: "GET",
                        async: true,
                        success: function (result) {

                            if (result === true) {

                                th.removeClass("fa-square-o").addClass("fa-check-square");
                                th.attr("data-status", 0);
                            }
                            else {

                                th.removeClass("fa-check-square").addClass("fa-square-o");
                                th.attr("data-status", 1);
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    })
                }

            });
        });
    </script>
}