@model DataLayer.Entities.Store.Product

@{
    ViewData["Title"] = "حذف محصول";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-danger">حــذف محصول</h1>

<h3 class="text-xs-center alert alert-warning">آیا مطمئن به حذف محصول زیر هستید؟</h3>
<div>
    <h4>مشخصات محول</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTagsList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTagsList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductFeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductFeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductIsFeatured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductIsFeatured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductMinimumInventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductMinimumInventory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumNumberofPurchases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumNumberofPurchases)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductLabel)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductGroup.ProductGroupTitle)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="حــذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
