@model DataLayer.Entities.User.Role

@{
    ViewData["Title"] = "جزئیات نقش";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">جزئیات نقش</h1>

<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseForRegister)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseForRegister)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoleId">ویرایش</a> |
    <a asp-action="Index">بازگشت</a>
</div>
