@model DataLayer.Entities.User.User
@using Core.Convertors;
@{
    ViewData["Title"] = "جزئیات کاربر";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">جزئیات کاربر ثبت نامی</h1>

<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Family)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cellphone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cellphone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.BirthDate.ToShamsiN_WithTime()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreditCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCreditCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserBankAccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserBankAccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferralCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferralCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.RegisteredDate.ToShamsiWithTime()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.County)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.County.CountyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Registered">بازگشت</a>
</div>
