@model IEnumerable<DataLayer.Entities.Store.DiscountCoupen>
@using Core.Convertors;
@using Core.Services.Interfaces;
@inject IStoreService _storeService
@{
    ViewData["Title"] = "کدهای تخفیف";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">کوپن های تخفیف</h1>

<p>
    <a asp-action="Create" class="btn btn-success">ثبت کوپن</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Percent)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th class="text-xs-center align-middle">
                باقیمانده
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.ExpiredDate)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-xs-center align-middle font-family-arial">
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td class="text-xs-center align-middle font-family-arial">
                @Html.DisplayFor(modelItem => item.Percent)
            </td>
            <td class="text-xs-center align-middle">
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td class="text-xs-center align-middle">
                @{ 
                    int rem = await _storeService.GetRemianofCoupen(item.Code.Trim());


                }
                @rem
            </td>
            <td class="text-xs-center align-middle">
                @item.ExpiredDate.ToShamsiN_WithTime()
            </td>
            <td class="text-xs-center align-middle">
                @if (item.IsActive)
                {
                    <span class="fa fa-check-square cursor-pointer chk" data-id="@item.Id" data-status="0"></span>
                }
                else
                {
                    <span class="fa fa-square-o cursor-pointer chk" data-id="@item.Id" data-status="1"></span>
                }
            </td>
            <td class="text-xs-center align-middle">
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">حــذف</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".chk").click(function () {
                if (confirm("آیا مطمئن به تغییر وضعیت کوپن تخفیف هستید؟")) {
                    var idd = $(this).attr("data-id");
                    var st = $(this).attr("data-status");
                    var th = $(this);
                    $.ajax({
                        url: "/Manage/DiscountCoupens/ChangeStatus",
                        data: { id: idd, status: st },
                        type: "GET",
                        async : true,
                        success: function (result) {

                            if (result === true) {

                                th.removeClass("fa-square-o").addClass("fa-check-square");
                                th.attr("data-status", 0);
                            }
                            else {

                                th.removeClass("fa-check-square").addClass("fa-square-o");
                                th.attr("data-status", 1);
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    })
                }

            });
        });
    </script>
}