@model Core.DTOs.Admin.DeliverLabelsInfo
@using Core.Convertors;
@using Core.Utility;
@{
    ViewData["Title"] = "برچسبهای پستی";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
    bool allowPrint = false;
    string fil = string.Empty;
    int LCount = 0;
    if (Model.DeliverLabels != null)
    {
        if (Model.DeliverLabels.Count() != 0)
        {
            allowPrint = true;
            LCount = Model.DeliverLabels.Count();
        }
    }
    int pageCount = 1;
    if (Model.DeliverLabels != null)
    {
        if (Model.DeliverLabels.Count() != 0)
        {
            if (Model.DeliverLabels.Count() % 5 == 0)
            {
                pageCount = Model.DeliverLabels.Count / 5;
            }
            else
            {
                pageCount = (Model.DeliverLabels.Count / 5) + 1;
            }
        }
    }
    if (TempData["filter"] != null)
    {
        fil = TempData["filter"].ToString();
    }
    <meta charset="UTF-8">
    <style>

        .page {
            width: 21cm;
            height: 29.7cm;
            /*border: 1px solid blue;*/
            padding: 1cm;
            overflow-y: scroll;
        }

        .LRow {
            width: 100%;
            min-height: 6cm;
            height: 6cm;
            /*border: 1px solid red;*/
            display: flex;
            padding: 5mm 5mm 0 0;
            clear: both;
        }

            .LRow::after {
                content: '';
                display: table;
                clear: both;
            }



        .box {
            display: inline-flex;
            width: 5.5cm;
            min-height: 5cm;
            height: 5cm;
            max-height: 5cm;
            border: 1px solid #9b9799;
            margin-left: 5mm;
            padding: 2mm 1mm;
            position: relative;
        }



        .sender p, .receiver p {
            padding-bottom: 0;
            margin: 0;
        }

        @@media print {

            @@page {
                size: A4;
            }

            @@page :left {
                margin-left: 2cm;
            }

            @@page :right {
                margin-right: 2cm;
            }

            @@page :top {
                margin-top: 1cm;
            }

            .bp, .filterDiv {
                display: none;
            }

            .footer {
                display: none;
            }

            .navbar-fixed-top {
                display: none;
            }

            .main-menu-content {
                display: none;
            }
        }
    </style>
}

<h1 class="text-xs-center alert alert-info bp">
    برچسبهای پستی <span class="tag tag-info tag-square">@LCount</span> | <span>@pageCount صفحه</span>
    @if (allowPrint == true)
    {
        <a href="/Manage/MPanel/PrintDeliversLabel?filter=@fil" class="btn btn-sm float-xs-left">پیش نمایش چاپ</a>
    }

</h1>
<div class="filterDiv">

    <a href="/Manage/MPanel/DeliversLabel?filter=day" class="btn @((fil=="day"?"btn-success":"btn-info"))">امروز</a>
    <a href="/Manage/MPanel/DeliversLabel?filter=week" class="btn @((fil=="week"?"btn-success":"btn-info"))">هفته</a>
    <a href="/Manage/MPanel/DeliversLabel?filter=mounth" class="btn @((fil=="mounth"?"btn-success":"btn-info"))">ماه</a>
    <a href="/Manage/MPanel/DeliversLabel?filter=all" class="btn @((fil=="all"?"btn-success":"btn-info"))">همه</a>

</div>
@if (Model != null)
{
    if (Model.DeliverLabels.Count() != 0)
    {
        <div class="page">

            @foreach (var item in Model.DeliverLabels)
            {
                <div class="LRow">

                    <div class="box">
                        <p>
                            <span>گیرنده :</span>
                            <span>@item.RecipientName @item.RecipientFamily</span><br />
                            <span>آدرس :</span>
                            <span>@item.Order_StateName، @item.Order_CountyName، @item.Order_Address</span><br />
                            <span>کد پستی :</span>
                            <span>
                                @{
                                    string ENumber = Core.Utility.Applications.ConvertArabicNumberToEnglish.toEnglishNumber(item.Order_PostalCode);
                                }
                                @ENumber
                            </span><br />
                            <span>تلفن : </span>
                            <span>@item.RecipientPhone</span>
                        </p>
                    </div>
                   
                    <div class="box">
                        <p>
                            <span>شماره سفارش :</span>
                            <span>@item.Order_DedicatedNumber</span><br />
                            <span>تاریخ ثبت :</span>
                            <span>@item.Order_Date.ToShamsiWithTime()</span>
                            <span>خریدار :</span>
                            <span>@item.BuyerName @item.BuyerFamily</span>
                        </p>
                    </div>
                </div>

            }
        </div>
    }
    else
    {
        <h4 class="text-xs-center alert alert-danger mt-1">برچسبی موجود نمی باشد !</h4>
    }
}
else
{
    <h4 class="text-xs-center alert alert-danger mt-1">برچسبی موجود نمی باشد !</h4>
}

