@model DataLayer.Entities.Supplementary.ThreeColmun

@{
    ViewData["Title"] = "حذف ستون";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-danger">حذف ستون</h1>

<h3 class="text-xs-center alert alert-warning">آیا مطمئن به حذف ستون هستید؟</h3>
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkText)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حــذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
