@model IEnumerable<DataLayer.Entities.Supplementary.ThreeColmun>
@using Core.Convertors;
@{
    ViewData["Title"] = "ستون های متنی بالای فوتر";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">ستونهای متنی بالای فوتر</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">ثبت ســتون</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-xs-center align-middle">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="text-xs-center align-middle">
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td class="text-xs-center align-middle">
                <img src="~/images/icons/@item.Image" width="100" height="100" />
            </td>
            <td class="text-xs-center align-middle">
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
