@model Core.DTOs.Admin.ProductIngredientVM
@using Core.Services.Interfaces;
@inject IUserService _userService;
@{
    if (ViewData["roleTitle"] == null)
    {
        ViewData["Title"] = "اجزای تشکیل دهنده محصول";
    }
    else
    {
        ViewData["Title"] = "اجزای تشکیل دهنده محصول " + ViewData["roleTitle"].ToString();
    }

    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
    bool ExistAll = false;
    if (Model.SelectedIngredients.Count() == Model.Ingredients.Count())
    {
        ExistAll = true;
    }
}

<h1 class="text-xs-center alert alert-info">@Model.Title <span class="tag tag-square tag-warning">@Model.SelectedIngredients.Count()</span></h1>

<div id="wrapper">
    <ul class="list-unstyled p-r-5">
        <li class="mr-2">
            <input type="checkbox" checked="@ExistAll" name="all" id="all" />
            <label for="all">همه</label>
            <form method="post">
                <ul class="list-unstyled">

                    @foreach (var per1 in Model.Ingredients.ToList())
                    {
                        string inpId1 = "title1_" + per1.IngredientId.ToString();

                        <li class="mr-1">
                            <input type="checkbox" name="SelectedIngredients" value="@per1.IngredientId" class="title" id="@inpId1" @((Model.SelectedIngredients.Any(a => a == per1.IngredientId) ? "checked" : "")) />
                            <label for="@inpId1">@per1.Name</label>
                            
                        </li>
                    }
                </ul>
                
                    <div class="form-group">
                        <input type="hidden" asp-for="ProductId" />
                        <input type="submit" value="ثــبت" class="btn btn-success" />
                    </div>
                


            </form>

        </li>
    </ul>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[name="all"],input[class="title"]').bind('click', function () {
                var status = $(this).is(':checked');
                $('input[type="checkbox"]', $(this).parent('li')).attr('checked', status);
            });
        });
    </script>

}

