@model DataLayer.Entities.Blogs.Blog
@using DataLayer.Entities.Store;
@{
    ViewData["Title"] = "ثبت خبر";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
    <script src="~/lib/ckeditor/ckeditor.js"></script>
}
@{
    List<Product> products = ViewData["Products"] as List<Product>;
    List<Package> packages = ViewData["Packages"] as List<Package>;
    List<string> SelectedProducts = ViewData["SelectedProducts"] as List<String>;
    List<string> SelectedPackages = ViewData["SelectedPackages"] as List<string>;
}
<h1 class="text-xs-center alert alert-info">ثبت خبر</h1>
<h3 class="text-xs-center alert alert-warning">
    بهتر است عرض عکس صفحه بلاگ حداکثر 360 پیکسل و ارتفاع عکس حداکثر 300 پیکسل باشد.
    ابعاد بزرگتر با این ابعاد نمایش داده می شوند.
</h3>
<hr />
<div class="row">
    <div class="offset-md-3 col-md-6 col-xs-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="BlogDate" />
            <div class="form-group">
                <label asp-for="BlogShortKey" class="control-label"></label>
                <input asp-for="BlogShortKey" class="form-control" dir="ltr" placeholder="انگلیسی باشد" />
                <span asp-validation-for="BlogShortKey" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label class="control-label">محصولات</label>
                <div class="button-group col-md-12 col-xs-12">
                    @{ int pcount = 0;
                        if (SelectedProducts != null)
                        {
                            pcount = SelectedProducts.Count;
                        }
                        else
                        {
                            pcount = products.Count();
                        }
                        if (SelectedPackages != null)
                        {
                            pcount += SelectedPackages.Count();
                        }
                        else
                        {
                            pcount += packages.Count();
                        }
                    }
                    <button type="button" class="btn btn-default dropdown-toggle col-md-12  text-center border" data-toggle="dropdown">انتخاب محصول <span id="selP" class="tag tag-pill tag-warning">0</span></button>
                    <ul class="dropdown-menu w-100 pr-1" id="pMainul">
                        @if (products.Count() == 0)
                        {
                            <li><p tabIndex="-1" class="red">محصولی موجود نمی باشد !</li>
                        }
                        else
                        {
                            <li><p tabIndex="-1"><input type="checkbox" id="Pall" />&nbsp;همه</p></li>
                        }

                        @foreach (var pr in products)
                        {
                            <li class="font-weight-bold mb-1" tabindex="-1">
                                <p class="font-size-small text-black" tabIndex="-1">
                                    @if (SelectedProducts != null)
                                    {
                                        if (SelectedProducts.Any(a => a == pr.ProductCode))
                                        {
                                            <input type="checkbox" class="products " checked name="SelectedProducts" value="@pr.ProductCode" /><span class="success pr-1 pl-1">نام : @pr.ProductName</span> <span class="info pr-1 pl-1">واحد : @pr.ProductUnit</span> <span class="primary pr-1 pl-1">کد : @pr.ProductCode</span><span class="primary pr-1 pl-1">ویژگی : @pr.ProductTopFeature</span>
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="products " name="SelectedProducts" value="@pr.ProductCode" /><span class="success pr-1 pl-1">نام : @pr.ProductName</span> <span class="info pr-1 pl-1">واحد : @pr.ProductUnit</span> <span class="primary pr-1 pl-1">کد : @pr.ProductCode</span><span class="primary pr-1 pl-1">ویژگی : @pr.ProductTopFeature</span>
                                        }
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="products " name="SelectedProducts" value="@pr.ProductCode" /> <span class="success pr-1 pl-1">نام : @pr.ProductName</span> <span class="info pr-1 pl-1">واحد : @pr.ProductUnit</span> <span class="primary pr-1 pl-1">کد : @pr.ProductCode</span><span class="primary pr-1 pl-1">ویژگی : @pr.ProductTopFeature</span>
                                    }

                                </p>
                            </li>
                        }

                    </ul>
                </div>

            </div>
            <div class="form-group pb-2">
                <label class="control-label">پکها</label>
                <div class="button-group col-md-12 col-xs-12">
                    @{ int pkcount = 0;

                        if (SelectedPackages != null)
                        {
                            pkcount += SelectedPackages.Count();
                        }
                        else
                        {
                            pkcount += packages.Count();
                        }
                    }
                    <button type="button" class="btn btn-default dropdown-toggle col-md-12  text-center border" data-toggle="dropdown">انتخاب پک <span id="selPk" class="tag tag-pill tag-warning">0</span></button>
                    <ul class="dropdown-menu w-100 pr-1" id="pkMainul">
                        @if (packages.Count() == 0)
                        {
                            <li><p tabIndex="-1" class="red">پکی موجود نمی باشد !</li>
                        }
                        else
                        {
                            <li><p tabIndex="-1"><input type="checkbox" id="Pkall" />&nbsp;همه</p></li>
                        }


                        @foreach (var pk in packages)
                        {
                            <li class="font-weight-bold mb-1" tabindex="-1">
                                <p class="font-size-small text-black" tabIndex="-1">
                                    @if (SelectedPackages != null)
                                    {
                                        if (SelectedPackages.Any(a => a == pk.PkCode))
                                        {
                                            <input type="checkbox" class="packages" checked name="SelectedPackages" value="@pk.PkCode" /><span class="success pr-1 pl-1">نام : @pk.PkTitle</span> <span class="info pr-1 pl-1">واحد : @pk.PkUnit</span> <span class="primary pr-1 pl-1">کد : @pk.PkCode</span>
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="packages" name="SelectedPackages" value="@pk.PkCode" /><span class="success pr-1 pl-1">نام : @pk.PkTitle</span> <span class="info pr-1 pl-1">واحد : @pk.PkUnit</span> <span class="primary pr-1 pl-1">کد : @pk.PkCode</span>
                                        }
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="packages" name="SelectedPackages" value="@pk.PkCode" /> <span class="success pr-1 pl-1">نام : @pk.PkTitle</span> <span class="info pr-1 pl-1">واحد : @pk.PkUnit</span> <span class="primary pr-1 pl-1">کد : @pk.PkCode</span>
                                    }

                                </p>
                            </li>
                        }
                    </ul>
                </div>

            </div>
            <div class="form-group">
                <label asp-for="BlogGroupId" class="control-label"></label>
                <select asp-for="BlogGroupId" class="form-control" asp-items="ViewBag.BlogGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BlogTitle" class="control-label"></label>
                <input asp-for="BlogTitle" class="form-control" placeholder="H1" />
                <span asp-validation-for="BlogTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogPageTitle" class="control-label"></label>
                <input asp-for="BlogPageTitle" class="form-control" placeholder="Page Title" />
                <span asp-validation-for="BlogPageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogPageDescription" class="control-label"></label><span class="float-xs-left">مانده : <span id="char-count" class="text-danger">300</span></span>
                <textarea asp-for="BlogPageDescription" maxlength="300" class="form-control"></textarea>
                <span asp-validation-for="BlogPageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogImageInBlog" class="control-label"></label>  &lArr;  <span class="text-danger">عرض : 360 پیکسل و ارتفاع 300 پیکسل و حجم 50 کیلوبایت</span>
                <input asp-for="BlogImageInBlog" type="file" class="form-control" />
                <span asp-validation-for="BlogImageInBlog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogImageInBlogDetails" class="control-label"></label>  &lArr;  <span class="text-danger">ابعاد آزاد و حجم 100 کیلوبایت</span>
                <input asp-for="BlogImageInBlogDetails" type="file" class="form-control" />
                <span asp-validation-for="BlogImageInBlogDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogSummary" class="control-label"></label><span class="float-xs-left">مانده : <span id="charS-count" class="text-danger">500</span></span>
                <textarea asp-for="BlogSummary" maxlength="500" class="form-control" rows="5"></textarea>
                <span asp-validation-for="BlogSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogText" class="control-label"></label>
                <textarea asp-for="BlogText" id="blogText" class="form-control" rows="15"></textarea>
                <span asp-validation-for="BlogText" class="text-danger"></span>
            </div>
            <script>
                CKEDITOR.replace('blogText');
            </script>
            <div class="form-group">
                <label asp-for="BlogTags" class="control-label"></label>
                <input asp-for="BlogTags" class="form-control" />
                <span asp-validation-for="BlogTags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogRefferalLink" class="control-label"></label>
                <input asp-for="BlogRefferalLink" class="form-control" />
                <span asp-validation-for="BlogRefferalLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogLinkText" class="control-label"></label>
                <input asp-for="BlogLinkText" class="form-control" />
                <span asp-validation-for="BlogLinkText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <select asp-for="Author" class="form-control">
                    <option value="روابط عمومی">روابط عمومی</option>
                    <option value="تیم فنی و پشتیبانی">تیم فنی و پشتیبانی</option>
                    <option value="مدیریت فروش">مدیریت فروش</option>
                </select>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogViewsCount" class="control-label"></label>
                <input asp-for="BlogViewsCount" class="form-control" />
                <span asp-validation-for="BlogViewsCount" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BlogIsActive" /> @Html.DisplayNameFor(model => model.BlogIsActive)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary col-xs-12" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت</a>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function countChar(inobj, maxl, outobj) {
                var len = inobj.value.length;

                if (len >= maxl) {
                    inobj.value = inobj.value.substring(0, maxl);
                    $(outobj).text(0);
                } else {
                    $(outobj).text(maxl - len);
                }
            }
            $("#Pall").click(function () {
                $("input:checkbox.products").prop('checked', $(this).prop("checked"));
                var total = $("#pMainul").find('.products:checked').length;
                $("#selP").text(total);
            });
            $("#Pkall").click(function () {
                $("input:checkbox.packages").prop('checked', $(this).prop("checked"));
                var total = $("#pkMainul").find('.packages:checked').length;
                $("#selPk").text(total);
            });
            $(".products").click(function () {
                var prv = $(this).prop('checked');

                if (prv === false) {
                    $("#Pall").prop('checked', false);
                }
                var total = $("#pMainul").find('.products:checked').length;
                $("#selP").text(total);
            });
            $(".packages").click(function () {
                var prv = $(this).prop('checked');

                if (prv === false) {
                    $("#Pkall").prop('checked', false);
                }
                var total = $("#pkMainul").find('.packages:checked').length;
                $("#selPk").text(total);
            });
            var curChars = $('#BlogPageDescription').val().length;
            var maxchars = 300 - curChars;
            $('#char-count').text(maxchars);
            $('#BlogPageDescription').keyup(function () {                
                countChar(this, 300, '#char-count');
            });
            var BcurChars = $('#BlogSummary').val().length;
            maxcharsS = 500 - BcurChars;
            $('#charS-count').text(maxcharsS);
            $('#BlogSummary').keyup(function () {                
                countChar(this, 500, '#charS-count');
            });
            
        });
    </script>
}
