@model DataLayer.Entities.Blogs.Blog
@using Core.Convertors;
@{
    ViewData["Title"] = "جزئیات خبر";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">جزئیات خبر</h1>

<div>
    <h4>خبر</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogPageTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogPageTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogPageDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogPageDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogDate)
        </dt>
        <dd class="col-sm-10">
            @Model.BlogDate.ToShamsiWithTime()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogImageInBlog)
        </dt>
        <dd class="col-sm-10">
            <img src="/images/blogs/@Model.BlogImageInBlog" width="50" height="50" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogImageInBlogDetails)
        </dt>
        <dd class="col-sm-10">
            <img src="/images/blogs/@Model.BlogImageInBlogDetails" width="50" height="50" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogText)
        </dt>
        <dd class="col-sm-10">
            <div class="row">
                @Html.Raw(Model.BlogText)
            </div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogSummary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogSummary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogTags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogTags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogIsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogIsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogShortKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogShortKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogRefferalLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogLinkText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogLinkText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogRefferalLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogViewsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogViewsCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCodes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCodes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogGroup.BlogGroupTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BlogId">ویرایش</a> |
    <a asp-action="Index">بازگشت</a>
</div>
